:root{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #251818;
  color: #FFFFFF;
}

select{
  width: 200px;
  height: 30px;
  border: 3px solid #4d2c2c;
  border-radius: 3px;
  background-color: #251818;
  color: #FFFFFF;
}

select:hover{
  border-color: #3d1c1c;
}

img{
  background-color: #251818;
  border-radius: 8px;
}

h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3.2rem;
  font-weight: 100;
}

h3 {
  z-index: 2;
}

p{
  font-family: monospace;
  z-index: 2;
}

.filter{
  font-family: monospace;
}

#agents-list{
  list-style: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#agents-list li{
  background-color: #4d2c2c;
  width: 160px;
  height: auto;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
}

#agents-list li:hover{
  background-color: #3d1c1c;
}

#full-portrait-container {
  display: none;
}

@media all and (min-width: 1920px) {
  #full-portrait-container {
    display: block;
    position: fixed;
    left: 50px;
    top: 230px;
    width: 300px;
    height: 400px;
    margin-right: 20px;
    background-color: #251818;
    border: 3px solid #4d2c2c;
    border-radius: 10px;
  }
}

#full-portrait {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
