:root{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url('../public/valorant_background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  color: #FFFFFF;
  font-family: monospace;
}

/*color variables*/
@property --color-1 {
  syntax: '<color>';
  initial-value: rgba(1, 60, 107, 0.5);
  inherits: false;
}
@property --color-2 {
  syntax: '<color>';
  initial-value: rgba(174, 176, 184, 0.5);
  inherits: false;
}

select{
  font-family: monospace;
  width: 200px;
  height: 30px;
  border: 3px solid var(--color-1);
  border-radius: 5px;
  background-color: var(--color-2);
  color: #FFFFFF;
  backdrop-filter: blur(5px);
  transition: --color-1 0.2s, --color-2 0.2s;
}

select:hover{
  --color-1: rgba(174, 176, 184, 0.5);
  --color-2: rgba(1, 60, 107, 0.5);
}

img{
  border-radius: 8px;
}

h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3.2rem;
  font-weight: 100;
}

h3 {
  z-index: 2;
}

p{
  z-index: 2;
}



#agents-list{
  list-style: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#agents-list li{
  background-image: linear-gradient(135deg, var(--color-2), var(--color-1));
  width: 160px;
  height: auto;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  transition: --color-1 0.2s, --color-2 0.2s, scale 0.1s;
}

#agents-list li:hover{
  --color-1: rgba(174, 176, 184, 0.5);
  --color-2: rgba(1, 60, 107, 0.5);
  scale: 1.05;
}

#full-portrait-container {
  display: none;
}

@media all and (min-width: 1920px) {
  #full-portrait-container {
    display: block;
    position: fixed;
    left: 50px;
    top: 230px;
    width: 300px;
    height: 400px;
    margin-right: 20px;
    background-image:linear-gradient(135deg, var(--color-2), var(--color-1));
    border: 3px solid var(--color-1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
  }
}

#full-portrait {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
